@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem 2rem 1rem;
}

.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  min-height: 50px;
  padding: 2rem 0;
}

.container header .logo {
  font-weight: 400;
  color: #3838ff;
}

.container header .logo span {
  color: #e22727;
  font-weight: 600;
}

.countries {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.countries .country {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  border-radius: 0.7rem;
  margin-top: 2.5rem;
  /* overflow: hidden; */
}

.countries .country .country-img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.countries .country .country-data {
  padding: 1.5rem;
  text-transform: capitalize;
}

.countries .country .country-data .country-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.countries .country .country-data .country-region {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  color: #888;
}

.countries .country .country-data .country-row:not(:last-child) {
  margin-bottom: 1rem;
}

.countries .country .country-data .country-row {
  font-size: 1rem;
}

.countries .country .country-data .country-row span {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.sort-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sort-collection button {
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.searchbox .searchtype {
  border: 1px solid #bfbfbf;
  padding: 0.5rem 1rem;
  border-radius: 10rem 0 0 10rem;
  margin: 0;
  outline: none;
}

.searchbox .searchbtn {
  padding: 0.5rem 1rem;
  margin-left: -0.5rem;
  border-radius: 0rem 10rem 10rem 0;
  border: 1px solid #bfbfbf;
}

.mycountrydiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.mycountrydiv .country-img {
  width: 100%;
  border-radius: 1rem;
}

.mycountrydiv .col {
  width: 48%;
  margin-bottom: 5rem;
}

.mycountrydiv .col h1 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  font-weight: 700;
}

.mycountrydiv .col h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  font-weight: 700;
}

.mycountrydiv .col table,
.mycountrydiv .col th,
.mycountrydiv .col td,
.mycountrydiv .col tr {
  border-bottom: 1px solid rgba(221, 221, 221, 0.653);
  text-align: left;
  padding: 1rem 0.75rem;
  border-collapse: collapse;
  border-radius: 1rem;
  color: rgba(35, 35, 35, 0.872);
}

.mycountrydiv .col th {
  font-weight: 700;
  color: black;
}

.mycountrydiv .col a {
  text-decoration: underline;
  color: darkblue;
}

@media screen and (max-width: 1200px) {
  .countries .country {
    width: 30%;
  }
  .mycountrydiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mycountrydiv .country-img {
    width: 100%;
  }
  .mycountrydiv .col {
    width: 75%;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 840px) {
  .countries .country {
    width: 42%;
  }
  .countries .country .country-img {
    width: 100%;
    height: 125px;
  }
  .countries .country .country-data {
    padding: 1rem;
  }
  .countries .country .country-data .country-name {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .countries .country .country-data .country-region {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  .countries .country .country-data .country-row:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  .countries .country .country-data .country-row {
    font-size: 0.75rem;
  }
  .countries .country .country-data .country-row span {
    display: inline-block;
    margin-right: 0.25rem;
    font-size: 0.75rem;
  }
  .sort-collection button {
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
  }
  .searchbox .searchtype {
    padding: 0.35rem 1rem;
  }
  .searchbox .searchbtn {
    padding: 0.35rem 1rem;
  }
  .mycountrydiv .col {
    width: 95%;
  }
}

@media screen and (max-width: 450px) {
  .container header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 0;
  }
  .container header .logo {
    margin-bottom: 1rem;
  }
  .countries .country {
    width: 80%;
  }
  .mycountrydiv .col {
    width: 100%;
  }
  .mycountrydiv .col h1 {
    font-size: 1.25rem;
  }
  .mycountrydiv .col h2 {
    font-size: 1.5rem;
  }
  .mycountrydiv .col table,
  .mycountrydiv .col th,
  .mycountrydiv .col td,
  .mycountrydiv .col tr {
    font-size: 0.75rem;
    padding: 1rem 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */