@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  color: hsl(200, 100%, 9%);
}

body {
  background-color: hsl(0, 0%, 90%);
}

a {
  text-decoration: none;
}

nav {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: white;

  .nav-container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .mode-change {
    display: none;
  }

  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .toggle-btn {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
  }
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: 1.5rem auto;
  padding: 0 1rem;
  align-items: center;

  .search-box {
    padding: 1rem 1.5rem;
    width: 60%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .region-filter {
    position: relative;
    .region-filter-btn {
      padding: 1rem 1.5rem;
      border: none;
      border-radius: 5px;
      background-color: white;
      font-size: 1rem;
      cursor: pointer;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
    }
    ul {
      display: none;
      position: absolute;
      background-color: white;
      top: 60px;
      padding: 1.25rem 4rem 1.25rem 2rem;
      border-radius: 5px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);

      li {
        list-style: none;
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }
  .region-filter.open ul {
    display: block;
  }
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1500px;
  margin: 1.5rem auto;
  padding: 0 1rem;

  .country {
    background-color: white;
    width: 20rem;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 2rem;

    &:hover {
      transition: 500ms;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
    }

    .country-img {
      width: 100%;
    }

    .country-data {
      padding: 1rem 2rem;

      p:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      .country-name {
        font-weight: 500;
        font-size: 1.75rem;
        margin-bottom: 0.25rem;
      }

      .country-region {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
        color: rgb(64, 58, 92);
        margin-bottom: 0.75rem;
      }
    }
  }
}
