@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  color: #001f2e;
}

body {
  background-color: #e6e6e6;
}

a {
  text-decoration: none;
}

nav {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

nav .nav-container {
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem;
}

nav h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

nav .mode-change {
  display: none;
}

nav .toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

nav .toggle-btn {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1500px;
  margin: 1.5rem auto;
  padding: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .search-box {
  padding: 1rem 1.5rem;
  width: 60%;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: white;
  font-size: 1rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
}

header .region-filter {
  position: relative;
}

header .region-filter .region-filter-btn {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
}

header .region-filter ul {
  display: none;
  position: absolute;
  background-color: white;
  top: 60px;
  padding: 1.25rem 4rem 1.25rem 2rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
}

header .region-filter ul li {
  list-style: none;
  cursor: pointer;
}

header .region-filter ul li:not(:last-child) {
  margin-bottom: 1rem;
}

header .region-filter.open ul {
  display: block;
}

.country-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1500px;
  margin: 1.5rem auto;
  padding: 0 1rem;
}

.country-list .country {
  background-color: white;
  width: 20rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 2rem;
}

.country-list .country:hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
}

.country-list .country .country-img {
  width: 100%;
}

.country-list .country .country-data {
  padding: 1rem 2rem;
}

.country-list .country .country-data p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.country-list .country .country-data .country-name {
  font-weight: 500;
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
}

.country-list .country .country-data .country-region {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  color: #403a5c;
  margin-bottom: 0.75rem;
}
/*# sourceMappingURL=style.css.map */